%dev.d-flex.align-items-center
  %h1 試合スケジュール登録

= render "form"

= form_with model: @schedule_results, url: match_schedule_results_path, local: true do |f|
  %div.form-group
    = f.label :match_date_time, '試合日時'
    = f.datetime_field :match_date_time, class: 'form-control'
    %form-text.text-muted#small.title-tip
      ※試合日時が未定の場合、選択不要です
  %div.form-group
    = f.label :section, '節'
    = f.select :section, ScheduleResult.sections.keys, class: 'form-control'
    %form-text.text-muted#small.title-tip
      ※第何節の試合かを選択してください
  %div.form-group
    = f.label :opponent, '対戦チーム'
    = f.select :opponent, ScheduleResult.opponents.keys, class: 'form-control'
    %form-text.text-muted#small.title-tip
      ※対戦チームを選択してください
  %div.form-group
    = f.label :match_result, '試合結果'
    = f.select :match_result, ScheduleResult.match_results.keys, include_blank: "", class: 'form-control'
    %form-text.text-muted#small.title-tip
      ※試合結果が未定の場合、選択不要です
  %div.form-group
    = f.label :stadium, '会場'
    = f.select :stadium, ScheduleResult.stadia.keys, class: 'form-control'
    %form-text.text-muted#small.title-tip
      ※会場を選択してください
  %div.form-group
    = f.label :home_and_away, 'ホーム&アウェー'
    = f.select :home_and_away, ScheduleResult.home_and_aways.keys, class: 'form-control'
    %form-text.text-muted#small.title-tip
      ※ホームまたはアウェーを選択してください

  = f.submit '登録する', class: 'btn btn-info btn-block'
