<div class="head-container">
  <%= video_tag("/videos/top-video1.mp4", autoplay: :true, loop: :true, muted: :true, class: 'video-content') %>
</div>

<div class="heading-container">
  <h2>ABOUT　SPROUT FC</h2>
  <div class="heading-desc">
    <p>墨田区を拠点に2011年にスタートしたフットボールチームです。
      <br>
      現在千葉県松戸市リーグ1部に所属し、上位3チームが出場可能な五市大会を目指し、
      <br>
      チーム一丸となって活動しております。
    </p>
  </div>
</div>

<div class="heading-desc">
  <h2>OUR ACTIVITIES</h2>
  <div class="main-container">
    <div class="main-img">
      <div class = "main-item"><%= image_tag 'home1.jpg', size: '320x240' %>
        <p>We Won The Fight!<br>SPROUT FC</p>
      </div>
      <div class = "main-item"><%= image_tag 'home5.jpg', size: '320x240' %>
        <p>Take The Goal!!<br>SPROUT FC</p>
      </div>
    </div>
  </div>
  <div class="main-container">
    <div class="main-img">
      <div class = "main-item"><%= image_tag 'home3.jpg', size: '320x240' %>
        <p>松戸市リーグ<br>ホーム戦後の一枚！</p>
      </div>
      <div class = "main-item"><%= image_tag 'home4.jpg', size: '320x240' %>
        <p>松戸市リーグ<br>アウェイ戦後の一枚！</p>
      </div>
    </div>
  </div>
</div>

<div class="desc-container">
  <div class="heading-desc">
  <h2>NEXT MATCH</h2>
  <p></p>
  </div>
</div>

<div class="detail-container">
  <div class="summary-container">
    <h1>
      &#10004 Members Wanted！
      <br>
    </h1>
    <p>
      私たちと共に五市大会を目指しませんか？共に戦うメンバーを募集！
      <br>
      ご興味のある方はContactからご連絡ください！ご応募お待ちしております。
    </p>
  </div>
  <div class="action-container">
     <%= link_to "Contact", '#', class: "btn btn-lg btn-primary btn-login" %>
  </div>
</div>