<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "SPROUT FC", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "試合日程・結果", '#', style: 'color: #fff;' %></li>
        <li><%= link_to "順位表", '#', style: 'color: #fff;' %></li>
        <li><%= link_to "選手紹介", '#', style: 'color: #fff;' %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Account <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "新規登録", '#', style: 'color: #fff' %></li>
            <li><%= link_to "ログイン", '#', style: 'color: #fff' %></li>
            <li class="divider">
              <li>
                <%= link_to "Log out", '#', method: :delete %>
              </li>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>