<header class="navbar navbar-fixed-top navbar-inverse", style="background-color: #fff; border-color: #CC0000; border-width: 0 0 5px;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= image_tag 'logo.jpg', size: '53x50' %>
      <%= link_to "SPROUT FC", root_path, id: "logo" %>
    </div>
    <nav>
      <ul id="navbar" class="nav navbar-nav navbar-right navbar-collapse collapse">
        <li><%= link_to "試合日程・結果", match_schedule_results_path, style: 'color: #000;' %></li>
        <li><%= link_to "順位表", preparation_path, style: 'color: #000;' %></li>
        <li><%= link_to "選手紹介", players_path, style: 'color: #000;' %></li>
        <li><%= link_to "動画/写真", preparation_path, style: 'color: #000;' %></li>
        <li><%= link_to "お問い合わせ", contacts_path, style: 'color: #000;' %></li>
      </ul>
    </nav>
  </div>
</header>